<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <section>
            <article>
                <h1>Barra de búsqueda</h1>
            </article>
        </section>
        <section>
            <article>
                <h1>Comprá en cuotas y sin tarjeta de crédito</h1>
            </article>
        </section>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Virtuales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
        <img src="/images/img-home-banner.jpg" width="425" height="110">

    </header>
    <main>
        <h2>Basado en tu última visita</h2>
        <img src="/images/img-cafetera-moulinex.jpg" width="425" height="250">
        <ul>$6770</ul>
        <ul>40% OFF</ul>
        <div>Cafetera Moulinex</div>

        <img src="/images/img-macbook-pro-2019.jpg" width="425" height="300">
        <ul>$230.000</ul>
        <ul>20% OFF</ul>
        <div>McBook Pro 2019</div>

        <img src="/images/img-tv-samsung-smart.jpg" width="425" height="250">
        <ul>$70.500</ul>
        <ul>10% OFF</ul>
        <div>SMART TV SAMSUNG 43"</div>

        <img src="/images/img-samsung-galaxy-s10.jpg" width="425" height="300">
        <ul>$23.200</ul>
        <ul>5% OFF</ul>
        <div>SAMSUNG GALAXY S10</div>
    </main>
    <footer>
        <section>
            <article>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article>
                <h3>Envío gratis desde $2500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>