@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Roboto:wght@100&display=swap');

:root{
    --amarillo : #EAC926;
    --azul : #03264C;
    --celeste : #1259c3;
    --grisOscuro : #666;
    --grisClaro : #ebebeb;
    --verde : #39b54a;
}